<header>
  <nav class="relative w-full flex flex-wrap items-center justify-between py-3 bg-gray-900 text-gray-200 shadow-lg navbar navbar-expand-lg navbar-light">
    <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
      <div class="collapse navbar-collapse flex-grow items-center" id="navbarSupportedContent1">
        <h1>
          <%= link_to 'PaiMusic', root_path, class: 'text-xl text-white pr-2 font-semibold' %>
        </h1>
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right elements -->
      <div class="flex items-center relative">
        <div class="dropdown relative">
          <% if user_signed_in? %>
          <%= link_to 'アーティスト一覧', artists_items_path, class: 'text-my-blue mx-5' %>
          <%= link_to 'アルバム一覧', albums_items_path, class: 'text-my-blue mr-5' %>
          <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'text-my-blue' %>
          <% else %>
          <%= link_to 'ログイン', new_user_session_path, class: 'text-my-blue' %>
          <% end %>
        </div>
      </div>
      <!-- Right elements -->
    </div>
  </nav>
</header>
