<% content_for(:html_title) do %>
パイ音楽情報データベース
<% end %>

<div class="flex justify-center">
  <div class="w-full">
    <%= form_with url: search_items_path, method: :get, local: true, class: 'w-full' do %>
    <div class="input-group relative flex items-stretch w-full">
      <%= search_field_tag :search_word, '', class: 'form-control relative flex-auto min-w-0 block w-full px-3 py-1.5 text-base font-normal text-gray-700 bg-white bg-clip-padding border border-solid border-gray-300 rounded transition ease-in-out m-0 focus:text-gray-700 focus:bg-white focus:border-gray-600 focus:outline-none', placeholder: '検索' %>
      <button class="btn inline-block px-6 py-2.5 bg-gray-900 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-gray-700 hover:shadow-lg focus:bg-gray-700  focus:shadow-lg focus:outline-none focus:ring-0 active:bg-gray-800 active:shadow-lg transition duration-150 ease-in-out flex items-center" type="submit" id="button-addon2">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="search" class="w-4" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
          <path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path>
        </svg>
      </button>
    </div>
    <%= select_tag('search_q', options_for_select({アーティスト: 'artist', タイトル: 'title'}), class: 'mt-2 cursor-pointer rounded') %>
    <% end %>
  </div>
</div>

<!-- statistics -->
<section class="mt-10">
  <h2 class="font-bold mb-2">統計情報</h2>
  <div class="flex justify-center text-center border border-gray-300 p-2">
    <div class="w-1/2">
      <span class="material-icons" style="vertical-align: -4px;">
        sell
      </span>
      リリース登録件数
      <p><%= @albums.size %>件</p>
    </div>
    <div class="w-1/2">
      <span class="material-icons" style="vertical-align: -4px;">
        assignment_ind
      </span>
      アーティスト登録件数
      <p><%= @artists.size %>件</p>
    </div>
  </div>
</section>

<!-- recently added artist -->
<section class="mt-10">
  <h2 class="font-bold mb-2">最近追加・更新されたアーティスト</h2>
  <% if @artists.any? %>
  <div class="grid sm:grid-cols-1 md:grid-cols-4 m-5 mb-10 gap-4">
    <% @artists.each do |artist| %>
    <div class="text-center">
      <% if artist.image.present? %>
      <%= image_tag artist.image, class: 'rounded-full mb-4 mx-auto', alt: artist.name %>
      <% else %>
      <%= image_tag 'no-image.jpg', class: 'rounded-full mb-4 mx-auto', alt: artist.name %>
      <% end %>
      <h5 class="font-medium leading-tight mb-2"><%= link_to artist.name, artist_params_path(artist), class: 'text-my-blue underline' %></h5>
    </div>
    <% end %>
  </div>
  <% else %>
  <p>まだ情報はありません</p>
  <% end %>
</section>

<!-- recently added album -->
<section class="mt-10">
  <h2 class="font-bold mb-2">最近追加・更新されたアルバム</h2>
  <% if @albums.any? %>
  <div class="grid sm:grid-cols-1 md:grid-cols-4 m-5 mb-10 gap-4">
    <% @albums.each do |album| %>
    <div class="text-center">
      <% if album.image.present? %>
      <%= image_tag album.image, class: 'rounded-full mb-4 mx-auto', alt: album.name %>
      <% else %>
      <%= image_tag 'no-image.jpg', class: 'rounded-full mb-4 mx-auto', alt: album.name %>
      <% end %>
      <h5 class="font-medium leading-tight mb-2"><%= link_to album.name, album_params_path(album), class: 'text-my-blue underline' %></h5>
    </div>
    <% end %>
  </div>
  <% else %>
  <p>まだ情報はありません</p>
  <% end %>
</section>
