<% content_for(:html_title) do %>
検索結果: 「<%= @search_word %>」
<% end %>

<h2>「<%= @search_word %>」の検索結果</h2>
<p><%= @results.size %>件見つかりました</p>

<% if @search_q == 'artist' %>
<%= render 'layouts/artists/artist', locals: { results: @results } %>
<% else %>
<%= render 'layouts/albums/album', locals: { results: @results } %>
<% end %>
