<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:html_title) %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <!-- Material design icons -->
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all' %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <!-- header -->
  <%= render 'layouts/partial/header' %>

  <% if user_signed_in? %>
  <p class="p-2">こんにちは、<span class="font-bold"><%= link_to current_user.name, users_profile_path(current_user), class: 'underline text-my-blue' %></span>さん</p>
  <% end %>

  <main class="w-[80%] mx-auto my-10">
    <% if flash[:notice] %>
    <p class="notice bg-green-100 rounded-lg py-5 px-6 mb-4 text-base text-green-700 mb-3 text-center"><%= notice %></p>
    <% end %>

    <% if flash[:alert] %>
    <p class="alert bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3 text-center"><%= alert %></p>
    <% end %>

    <%= yield %>
  </main>

  <!-- footer -->
  <%= render 'layouts/partial/footer' %>
</body>

</html>
